        <footer class="main-footer">
            <div class="container">
                <div class="dark-bg">
                    <p class="copyright">copyright ©2020 neighbourhood family</p>
                    <div class="nav">
                        <nav>
                            <a href="/">home</a>
                            <a href="/about">about us</a>
                            <a href="/contact">contact us</a>
                            <% if(currentuser){ %>
                                <a href="/<%= currentuser._id%>/edit">edit profile</a>
                           <% } %> 
                        </nav>
                    </div>
                </div>
                <div class="logo">
                    <a href="/"><img src="../public/images/logo.png" width="60px" height="60px" alt=""></a>
                </div>
                <h1 class="contactus">contact with us</h1>
                <div class="socials">
                    <a href="https://www.instagram.com/" target="_blank"> <i class="fab fa-instagram-square"></i> </a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i> </a>
                    <a href="https://uk.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i> </a>
                    <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter-square"></i> </a>
                </div>

            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>