        <footer class="main-footer">
            <div class="container">
                <div class="dark-bg">
                    <p class="copyright">copyright ©2020 neighbourhood family</p>
                    <div class="nav">
                        <nav>
                            <div class="main-links">
                                <ul>
                                    <li><a href="/">home</a></li>
                                    <li><a href="/about">about us</a></li>
                                    <li><a href="/contact">contact us</a></li>
                                    <% if(currentuser){ %>
                                    <li><a href="/<%= currentuser._id%>/edit">edit profile</a></li>
                                    <li><a class="mian-a" href="/index">discover your neighbour</a></li>  
                                   <% } %>  
                                </ul>
                            </div>
                            <div class="copyright-links">
                                <a href="/privacy-policy">privacy policy</a>
                                <a href="/terms-of-service">terms of service</a>
                                <a href="/disclaimer">Disclaimer</a>
                            </div>
                        </nav>
                        <div class="contact">
                            <div class="newsletter">
                                <form action="/newsletter" method="POST">
                                    <div class="btn">
                                    <label for="newsletter">Newsletter</label>
                                    <input type="email" name="newsletter" id="" required>
                                        <button type="submit">SUBSCRIBE</button>
                                    </div>
                                </form>
                            </div>
                            <div class="socials">
                                <a href="https://www.instagram.com/" target="_blank"> <i class="fab fa-instagram-square"></i> </a>
                                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i> </a>
                                <a href="https://uk.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i> </a>
                                <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter-square"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =================================== -->

            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>