<%- include ('../partials/header') %> 

<header class="nav-header">
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <h1>logo</h1>
            </div>
            <div class="nav-bar">
                <div class="nav-links">
                    <a href="#">home</a>
                    <a href="#">about</a>
                    <a href="#">services</a>
                </div>
                <div class="nav-login">
                    <a href="#">login</a>
                    <a href="#" class="signup-border">sign up</a>
                </div>
            </div>
        </div>
    </nav>
</header>
