<%- include ('partials/header')%> 
<%- include ('partials/nav')%>

<main class="main-index">
    <section class="show-case">
        <div class="content">
            <h1>call your neighbor</h1>
            <p>we watch out for you when you can't</p>
            <a href="#">join your neighbor</a>
        </div>
    </section>
    <div class="container">
        <div class="slogan-div">
            <div class="slogan1 slogans">
                <img src="../public/images/community.png" alt="">
                <h1>community</h1>
                <p>The easiest way to keep up and help our neighborhood</p>
            </div>
            <div class="slogan2 slogans">
                <img src="../public/images/security.png" alt="">
                <h1>privacy</h1>
                <p>Secure environment where all our users are verified</p>
            </div>
            <div class="slogan3 slogans">
                <img src="../public/images/trust.png" alt="">
                <h1>unity</h1>
                <p>A community built by you and you neighbors</p>
            </div>
        </div>

        <div class="testimonial-div">
            <div class="title">
                <h1>testimonials</h1>
            </div>
            <div class="slogan-bg">
                <div class="slogan1 testimonials">
                    <img src="../public/images/p1.png" alt="">
                    <h1>full name</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, sit?</p>
                </div>
                <div class="slogan2 testimonials">
                    <img src="../public/images/p2.png" alt="">
                    <h1>full name</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, sit?</p>
                </div>
                <div class="slogan3 testimonials">
                    <img src="../public/images/p3.png" alt="">
                    <h1>full name</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, sit?</p>
                </div>
            </div>
        </div>
    </div>
</main>