<%- include ('partials/header')%> <%- include ('partials/nav')%>
<header class="edit-header">
  <h1>complete your profile </h1>
</header>

<main class="main-profile">
  <div class="container">
    <section class="form-sec">
      <form class="new-form" action="/index" method="POST">
        <div class="data">
          <label for="firstName">first name</label>
          <input type="text" name="firstName" required>
          <label for="lastName">last name</label>
          <input type="text" name="lastName" required>
          <label for="location">post code</label>
          <input type="text" name="location" required>
          <label for="address">first line of your address</label>
          <input type="text" name="address" id="" required>
          <label for="city">city/town</label>
          <input type="text" name="city" required />
          <label for="phone">mobile number</label>
          <input type="number" name="phone" required>
        </div>
        <div class="gender">
          <input type="radio" name="gender" value="male" required>Male
          <input type="radio" name="gender" value="female" required>Female
          <input type="radio" name="gender" value="other" required>Other
        </div>
        <div class="declaration">
            <p>your name, address and contact will be available for other members of the community.</p>
            <input type="radio" name="agree" required>
        </div>
        <div class="new-btn">
          <button type="submit">signup</button>
        </div>
      </form>
    </section>
  </div>
</main>

<%- include ('partials/footer')%>