<%- include ('partials/header')%> <%- include ('partials/nav')%>

<main class="main-new main-reset-forgot">
  <div class="container">
    <section class="form-sec">
      <div class="form-title">
        <h1>Reset password</h1>
      </div>
      <form class="new-form" action="/reset/<%= token%>" method="POST">
        <div class="data">
          <label for="password">New password</label>
          <input type="password" name="password" autofocus="autofocus" required />
          <label for="password">confirm</label>
          <input type="password" name="confirm" id="">
        </div>
        <div class="new-btn">
          <button type="submit">Update Password</button>
        </div>
      </form>
    </section>
  </div>
</main>

<%- include ('partials/footer')%>