body{
    margin: 0;
    overflow-x: hidden;
}

// nav bar
.nav-header{    
    .nav{
        padding: 6px;
        .container{
            display: grid;
            grid-template-columns: 20% 80%;
            h1{
                margin: 0;
            }
            .nav-bar{
                display: grid;
                grid-template-columns:60% 40% ;
                a{
                    display: inline-block;
                    color: #666666;                    
                    font-size: 20px;
                    text-decoration: none;
                    text-transform: capitalize;
                    cursor: pointer;
                    
                    &:hover{
                        border-left: 1px solid rgb(94, 92, 92);
                        border-right: 1px solid rgb(94, 92, 92);
                        border-top: 1px solid rgb(94, 92, 92);
                        border-radius: 1px;
                    }
                }
                
                .nav-links{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    a{
                        margin-right: 15px;
                        padding: 7px;
                    }
                }
                .nav-login{
                    text-align: center;
                    a{
                        margin-right: 15px;
                        padding: 7px;
                    }
                    .signup-border{
                        border-radius: 6px;
                        padding: 10px;
                        background-color: #2B860B;
                        color: #f3f0f0;
                    }
                }
            }
        }
    }
}


//message

.message-container{
    width: 85%;
    margin:10px auto;    
    .success{
        background-color: rgb(69, 216, 69);
        border-radius: 10px;
        font-size: 18px;
        font-weight: normal;
        padding: 10px 20px;
        color: rgb(26, 90, 17);
        margin: 10px 0;
    }
    .danger{
        background-color: rgb(228, 96, 96);
        border-radius: 10px;
        font-size: 18px;
        font-weight: normal;
        padding: 10px 20px;
        color: rgb(66, 22, 24);
    }
 }


// landing page

.main-landing{
    margin-top: 10px;
    .show-case{
        background: url(../images/showcaseimg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 478px;

        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;   
            top: 150px;
            color: #fff;
            h1{
                margin: 0;
                font-size: 66px;
                text-transform: capitalize;
            }
            p{
                font-size: 36px;
                text-transform: capitalize;
                width: 65%;
                text-align: center;
                margin: 0;
                mix-blend-mode: color-dodge;
                border: 1px solid rgba(0, 0, 0, 0.83);
            }
            a{
                color: #fff;
                background-color: #2B860B;
                text-transform: capitalize;
                text-decoration: none;
                font-size: 22px;
                padding: 12px;
                border-radius: 8px;
                margin-top: 10px;
            }
        }
    }
    .container{
        width: 85%;
        margin: auto;
        background-color: rgba(184, 248, 184, 0.1);
        padding: 10px;

        .slogan-div{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            background: rgba(216, 213, 213, 0.1);
            border-radius: 12px;
            padding: 10px;

            .slogans{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top:25px;

                h1{
                    margin: 0;
                }
                p{
                    width: 85%;
                    margin:10px auto;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
        .testimonial-div{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            background: rgba(218, 159, 159, 0.1);
            border-radius: 12px;
            padding: 10px;

            .title{
                font-family: 'Ribeye Marrow', cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 87px;
                text-align: center;
                text-transform: capitalize;
            }
            .slogan-bg{
                .testimonials{
                    background-color: #fff;
                    border-radius: 8px;
                    width: 65%;
                    padding-bottom: 60px;
                    margin: 20px auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h1{
                        margin:10px 0 0 0;
                    }
                    p{
                        width: 85%;
                        margin:10px auto;
                        text-align: center;
                        font-size: 18px;
                        color: rgba($color: #000000, $alpha: 0.7);
                    }
                }

            }
        }
    }
}

// index page

.main-index{
    .index-showcase {
        background: url(../images/indeximg.png);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 100%;
        height: 647px;


        .content{
            position: relative;
            top: 150px;
            color: #fff;
            margin-left: 10px;
            h1{
                text-transform: capitalize;
                font-size: 36px;
                margin: 0;
            }

            .form{
                input[type="text"]{
                    margin-top: 10px;
                    width: 60%;
                    height: 40px;
                    border-radius: 8px;
                    &::placeholder{
                        font-size: 22px;
                        text-transform: capitalize;
                        color: coral;
                        padding-left: 10px;
                    }
                }
                .btn{
                    margin-top: 10px;
                    input{
                        background-color: #2B860B;
                        color: #e2dede;
                        font-size: 22px;
                        border: none;
                        text-transform: capitalize;
                        padding: 10px;
                        border-radius: 6px;
                        text-shadow: 0px 2px 3px #000;
                        cursor: pointer;

                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
            
        }
    }
      
}

// myNeighbour
.myneighbour-main{
    margin-top: 30px;
    .sec-search{
        background-color: rgb(49, 53, 53);
        padding: 20px;
        margin-bottom: 20px;
        .form{
            form{
                input{
                    padding: 10px;
                    margin: 0;
                    border: none;
                    border-radius: 3px;
                }
                input[type="text"]{
                    width: 35%;
                    font-size: 20px;
                }
                input[type="submit"]{
                    width: 17%;
                    font-size: 20px;
                    text-transform: capitalize;
                    background-color: aqua;
                    cursor: pointer;
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .sec-content{
        width: 90%;
        margin: auto;
        .profile{
            display: grid;
            grid-template-columns: 40% 60%;
            border: 1px solid rgb(90, 89, 89);

            /* Google Maps */
            #map {
                height: 400px;
                width: 100%;
            }

            .content{
                border: 7px solid rgb(92, 139, 226);
                padding: 3px;
                h1{
                    font-size: 18px;
                    margin: 0;
                    padding: 10px 0;
                    font-weight: normal;
                    span{
                        font-size: 22px;
                        color: rgb(5, 63, 5);
                    }
                }
                h2{font-size:18px; margin: 0; padding: 0 0 10px 0;
                font-weight: normal;
                span{
                    font-size: 22px;
                    color: rgb(5, 63, 5);
                }}
            }
        }
    }
}

//  User authenticatin forms

.main-new {
    margin-top: 100px;
    .form-title {
        margin-bottom: 10px;
        h1 {
        border-bottom: 1px solid rgb(110, 105, 105);
        padding-bottom: 15px;
        border-radius: 12px;
        width: 40%;
        margin: auto;
        font-size: 26px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        text-align: center;
        }
    }
    .form-sec {
        border: 1px solid rgb(124, 22, 22);
        padding: 30px;
        border-radius: 10px;
        width: 60%;
        margin: auto;
        .new-form {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: left;
            .data{

                input {
                    padding-left: 10px;
                    display: block;
                    width: 99%;
                    height: 40px;
                    margin: 10px 0;
                    border: 1px solid grey;
                    border-radius: 5px;
                    text-transform: capitalize;
                }
                ::placeholder {
                    text-transform: capitalize;
                    padding-left: 10px;
                }
                label {
                    margin: 8px 0;
                    padding-left: 5px;
                    font-size: 22px;
                    text-transform: capitalize;
                    textarea {
                        border-radius: 5px;
                        border: 1px solid grey;
                        width: 96%;
                        margin-top: 10px;
                        height: 160px;
                        text-transform: capitalize;
                        padding: 15px 15px;
                    }
                }
            }


            .gender{
                margin-top: 10px;
                input{
                    margin:0 2px 30px 15px;
                }
            }

            .new-btn {
                float: left;
                width: 100%;
                margin-top: 10px;
                button {
                    padding: 20px 40px;
                    font-size: 24px;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                    color: rgb(97, 6, 97);
                    border: 1px solid rgb(146, 66, 146);
                    cursor: pointer;
                    background-color: #fff;

                    &:hover {
                        background-color: rgb(232, 192, 252);
                    }
                }
            }
        }
    }
}



//////////// media queries
@media only screen and (max-width: 600px) {
    .main-new {
        .form-sec {
            width: 70% !important;

            input {
                margin-left: -10px !important;
            }
            label {
                margin-left: -10px !important;
            }
            textarea {
                width: 94% !important;
                margin-left: -10px !important;
            }
            button {
                margin-left: -10px !important;
            }
        }
    }
}