* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  overflow-x: hidden;
}

// nav bar
.nav-header {
  .nav {
    // background-color: rgb(149, 245, 155);
    .container {
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: auto;
      padding: 7px 0;

      .logo {
        text-align: center;
      }
      .nav-bar {
        .small-sc-nav-links {
          display: none;
          z-index: 1;
          background-color: rgb(29, 24, 26);
          color: #fff;
          float: right;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          right: 0;
          width: 50%;
          height: 500px;
          padding: 10px;
          h1 {
            text-align: right;
            font-size: 46px;
            margin-bottom: 40px;
            padding-right: 20px;
            cursor: pointer;
          }
          .main-a {
            border: 0.5px solid rgba(65, 65, 65, 0.4);
            border-radius: 3px;
            display: block;
            color: #fff;
            padding: 10px;
            font-size: 22px;
            text-transform: capitalize;
            text-decoration: none;
            cursor: pointer;
            &:hover {
              background-color: rgba(233, 233, 233, 0.2);
              font-weight: bold;
            }
          }
          .login {
            padding-top: 30px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            a {
              text-align: center;
            }
            .user {
              font-size: 36px;
              color: rgb(52, 60, 73);
              font-weight: bold;
              margin-bottom: 10px;
            }
            .logout {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgb(223, 101, 53);
              padding: 7px 17px;
              border-radius: 12px;
              color: #fff;
            }
            .login-border {
              background-color: rgb(223, 101, 53);
              padding: 7px 17px;
              border-radius: 12px;
              color: #fff;
            }
            .login-border {
              margin-bottom: 20px;
            }
          }
          .socials {
            margin: 60px 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            a {
              text-align: center;
              text-decoration: none;
              color: #fff;
              font-size: 28px;
                &:nth-child(1) {
                  color: rgb(185, 105, 105);
                }
                &:nth-child(2) {
                  color: rgb(104, 182, 104);
                }
                &:nth-child(3) {
                  color: rgb(116, 116, 192);
                }
                &:nth-child(4) {
                  color: rgb(102, 159, 167);
                }
            }
          }
        }
        // ============
        .nav-login {
            .nav-links{
                display:none !important;
            }
          .login {
            text-align: right;
            margin: 7px 0px 0 0;
            .user {
              font-size: 32px;
              color: rgb(79, 99, 133);
              font-weight: bold;
              margin: 0;
              padding: 0;
            }
            a {
              font-size: 22px;
              text-transform: capitalize;
              text-decoration: none;
              color: grey;
              padding: 0 25px 0 15px;
            }
            .signup-border {
                margin-right:15px;
              background-color: rgb(79, 99, 133);
              font-weight: bold;
              padding: 7px;
              border-radius: 12px;
              color: #fff;
            }
            i {
              margin-right: 24px;
              font-size: 24px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

//message

.message-container {
  width: 85%;
  margin: 10px auto;
  .success {
    background-color: rgb(69, 216, 69);
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 20px;
    color: rgb(26, 90, 17);
    margin: 10px 0;
  }
  .danger {
    background-color: rgb(228, 96, 96);
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 20px;
    color: rgb(66, 22, 24);
  }
}

// landing page

.main-landing {
  .show-case {
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    animation: slide 20s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      h1 {
        margin: 0;
        font-size: 42px;
        text-transform: capitalize;
      }
      p {
        font-size: 36px;
        text-transform: capitalize;
        width: 75%;
        text-align: center;
        margin: 0;
        mix-blend-mode: color-dodge;
      }
      a {
        color: rgb(247, 247, 217);
        background-color: rgb(43, 134, 11);
        text-transform: capitalize;
        text-decoration: none;
        font-size: 24px;
        padding: 12px;
        border-radius: 8px;
        margin-top: 20px;
      }
    }
  }

  @keyframes slide {
    0% {
      background: url(../images/img1.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    25% {
      background: url(../images/img2.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    50% {
      background: url(../images/img3.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    75% {
      background: url(../images/img4.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    100% {
      background: url(../images/img5.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .container {
    width: 90%;
    margin: auto;
    background-color: rgb(253, 255, 250);
    padding: 20px;

    .main-title {
      margin-bottom: 30px;
      text-align: center;
      h1 {
        text-transform: capitalize;
        margin-bottom: 20px;
        color: rgb(79, 99, 133);
      }
      p {
        font-size: 18px;
        color: rgb(54, 54, 54);
        margin-bottom: 10px;
        text-align: center;
        letter-spacing: 0.5px;
        word-spacing:0.7px;
        .bold{
          font-size: 19px;
          font-weight: bold;
          color: rgb(78, 78, 78);
        }
      }
      a{
        color: #f7f7d9;
        background-color: #7cc43a;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 20px;
        padding: 5px 15px;
        border-radius: 8px;
      }
    }
    .slogan-div {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      border-radius: 12px;
      padding: 10px;

      .slogans {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;

        h1 {
          margin: 0;
          color: rgb(79, 99, 133);
        }
        p {
          color: rgba(78, 78, 78, 0.8);
          width: 85%;
          margin: 10px auto;
          text-align: center;
          font-size: 18px;
        }
        i {
          color: rgb(43, 134, 11);
          font-size: 64px;
        }
      }
    }
  }
  .testimonial-div {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 12px;

    .img {
      background: url(../images/testimonial.jpg);
      width: 100%;
      height: 330px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .title {
      h1 {
        font-family: "Ribeye Marrow", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 46px;
        line-height: 87px;
        text-align: center;
        text-transform: capitalize;
        color: rgb(17, 17, 17);
        text-decoration: underline;
      }
    }
    .comment-bg {
      .testimonials {
        background-color: #fff;
        border-radius: 8px;
        width: 65%;
        padding-bottom: 60px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          margin: 10px 0 0 0;
          color: rgb(79, 99, 133);
          font-family: sans-serif;
        }
        p {
          width: 85%;
          margin: 10px auto;
          text-align: center;
          font-size: 18px;
          color: rgb(78, 78, 78);
        }
      }
    }
  }
}

//about me page
.about-main{
  .img{
    background: url(../images/about-pg.png
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    display: flex ;
    margin-bottom: 10px;
  }
  .title{
    background-color: #4f6385;
    padding: 10px;
    border-radius: 21px;
    max-width: 40%;
    margin: auto ;
    h1{
      color: #fff;
      letter-spacing: 1px;
      font-size: 38px;
      text-align: center;
    }
  }
  .container{
    width: 85%;
    margin: auto;
    .sub-title{
      margin: 20px 0;
      color: rgb(197, 82, 82);
      font-size: 32px;
    }
    .intro{
      p{
        margin-top: -10px;
      }
      h3{
        margin: 20px 0 0 0;
      }
    }
    .main-content{
      background-color: rgba(243, 242, 242, 0.4);
      padding: 10px;
      border-radius: 8px;
      margin: 20px 10px;
      p{
        margin-top: 13px;
        font-size: 18px;
      }
    }
  }
}

// index page

.main-index {
  margin-bottom: 100px;
  .index-showcase {
      background: rgb(125, 139, 210);
      background: radial-gradient(
        circle,
        rgba(125, 139, 210, 1) 0%,
        rgba(15, 17, 18, 1) 100%
      );
    .title {
      text-transform: capitalize;
      text-align: center;
      margin: 20px 0 10px 0;
      padding-top: 10px;
      h1{
          padding: 0 10px;
          color: rgb(238, 237, 237);
          font-size: 34px;
      }
    }
    .sec-search {
      padding: 20px;
      margin-bottom: 20px;
      .form {
        form {
          input {
            padding: 10px;
            margin: 0;
            border: none;
            border-radius: 3px;
          }
          input[type="text"] {
            width: 65%;
            font-size: 20px;
          }
          input[type="submit"] {
            width: 25%;
            font-size: 20px;
            text-transform: capitalize;
            background-color: rgb(194, 194, 194);
            cursor: pointer;
            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .sec-content{
    width: 90%;
    margin: auto;
    .profile{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px 0 0 0;
        .content{
            background: rgb(68,76,99);
            background: linear-gradient(90deg, rgb(84, 55, 90) 0%, rgba(74,101,176,1) 66%, rgb(58, 63, 83) 100%);            padding: 10px;
            p{
                font-size: 18px;
                margin: 0;
                padding: 5px 0;
                font-weight: normal;
                text-transform: capitalize;
                color: rgb(250, 250, 250);
                span{
                    font-size: 22px;
                    color: rgb(237, 248, 250);
                }
                i{
                    color: rgb(228, 207, 207);
                }
            }
            a{
                text-transform: capitalize;
                color: rgb(235, 156, 156);
                font-weight: bold;
            }
            
        }
    }
  }
}

//contact us page
.contact-me-pg{
  padding: 20px 0;


  .contact-me-container{
      background: rgb(238,202,174);
      background: radial-gradient(circle, rgba(238,202,174,1) 0%, rgb(121, 173, 233) 100%);
      border-radius: 12px;

      width: 100%;
      margin: 0 auto;
      padding: 20px 0 !important;

      .title{
          text-align: center;
          h1{
              font-family: Georgia, 'Times New Roman', Times, serif;
              font-size:40px;
              font-weight: normal;
              color: #2b0202;

          }

          p{
              font-size: 16px;
              font-style: italic;
              margin-bottom:50px ;
          }
      }
        .contact-me-wrapper{
            display: grid ;
            grid-template-columns: repeat(1, 1fr);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        form{
            width: 65%;
            p{
              margin-bottom: 20px;
            }
            .label1, .label2{
                
                label{
                
                    font-size: 18px;
                    font-weight: normal;
                    text-transform: capitalize;
                    font-style: italic;
                    color: #2b0202;

                }

                input{
                    width: 100%;
                    padding: 15px;
                    &::placeholder{
                        text-transform: capitalize;
                        font-size: 14px;
                        opacity: 0.9;
                        position: relative;
                        bottom: 5px;
                        right: 4px;
                    }
                }
            }
            
            textarea{
                display: block;
                width: 300px;
                max-width: 400px;
                margin: 10px 0;
                font-size: 16px;
                padding: 15px;
            }

            button{
                background-color: red;
                color: white;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 20px;
                font-weight: bold;
                text-transform: capitalize;
                text-shadow: 0 2px 2px grey;
                margin-bottom:60px;
                text-decoration: none;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
            }
        }
      }
  }
}

/// google map page
.myneighbour-main {
    a {
      padding: 0 7px;
      font-size: 30px;
    }
  .container {
    .sec-content {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      background: rgb(138, 138, 255);
      background: linear-gradient(
        90deg,
        rgba(138, 138, 255, 1) 0%,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 212, 255, 1) 96%
      );
      color: #fff;
      margin: 20px 0 0px 0;
      padding: 15px 15px 15px 35px;
      font-size: 22px;
      p {
        margin-top: 10px;
      }
    }
  }
}
/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}

//  User authenticatin forms

.main-new {
  .container {
    background: rgb(125, 139, 210);
    background: radial-gradient(
      circle,
      rgba(125, 139, 210, 1) 0%,
      rgba(84, 188, 238, 1) 100%
    );
    padding: 30px;
    padding: 70px 30px 130px 30px;
    .form-sec {
      border: 1px solid rgb(124, 22, 22);
      border-radius: 10px;
      width: 85%;
      margin: auto;
      padding: 20px;
      .form-title {
        margin-bottom: 10px;
        color: rgb(17, 18, 20);
        h1 {
          border-bottom: 1px solid rgb(110, 105, 105);
          padding-bottom: 15px;
          border-radius: 12px;
          width: 40%;
          margin: auto;
          font-size: 26px;
          letter-spacing: 0.5px;
          text-transform: capitalize;
          text-align: center;
        }
      }
      .new-form {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        .data {
          input {
            display: block;
            width: 99%;
            height: 40px;
            margin: 10px 0;
            border: 1px solid grey;
            border-radius: 5px;
            text-transform: capitalize;
            padding-left: 10px;
            font-size: 18px;
          }
          label {
            margin: 8px 0;
            padding-left: 5px;
            font-size: 22px;
            text-transform: capitalize;
            color: ivory;
            textarea {
              border-radius: 5px;
              border: 1px solid grey;
              width: 96%;
              margin-top: 10px;
              height: 160px;
              text-transform: capitalize;
              padding: 15px 15px;
            }
          }
        }
        .new-btn {
          float: left;
          width: 100%;
          margin-top: 10px;
          button {
            padding: 20px 40px;
            font-size: 24px;
            letter-spacing: 1px;
            text-transform: capitalize;
            color: rgb(97, 6, 97);
            border: 1px solid rgb(146, 66, 146);
            cursor: pointer;
            background-color: #fff;

            &:hover {
              background-color: rgb(232, 192, 252);
            }
          }
        }
      }
    }
  }
}
// profile form
.edit-header{
    padding-top: 20px;
    h1 {
        border-bottom: 1px solid rgb(110, 105, 105);
        color: #2b0202;
        padding-bottom: 15px;
        border-radius: 12px;
        width: 70%;
        margin: auto;
        font-size: 28px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        text-align: center;
      }
}
.main-profile {
    margin-top: 30px;
    .container{
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 67%, rgba(253,187,45,1) 100%);  padding: 30px;

    
      .form-sec {
        border: 1px solid rgb(124, 22, 22);
        padding: 30px;
        border-radius: 10px;
        width: 85%;
        margin: auto;
        .new-form {
          display: flex;
          flex-direction: column;
          justify-content: left;
          align-items: left;
          .data {
            input {
              padding-left: 10px;
              display: block;
              width: 99%;
              height: 40px;
              margin: 10px 0;
              border: 1px solid grey;
              border-radius: 5px;
              text-transform: capitalize;
              padding-left: 10px;
              font-size: 18px;
            }
            label {
              color: rgb(43, 2, 2);
              font-weight: bold;
              margin: 8px 0;
              padding-left: 5px;
              font-size: 22px;
              text-transform: capitalize;
              textarea {
                border-radius: 5px;
                border: 1px solid grey;
                width: 96%;
                margin-top: 10px;
                height: 160px;
                text-transform: capitalize;
                padding: 15px 15px;
              }
            }
          }
    
          .gender {
            margin-top: 10px;
            input {
              margin: 0 2px 30px 15px;
            }
          }
    
          .new-btn {
            float: left;
            width: 100%;
            margin-top: 10px;
            button {
              padding: 20px 40px;
              font-size: 24px;
              letter-spacing: 1px;
              text-transform: capitalize;
              color: rgb(97, 6, 97);
              border: 1px solid rgb(146, 66, 146);
              cursor: pointer;
              background-color: #fff;
    
              &:hover {
                background-color: rgb(232, 192, 252);
              }
            }
          }
        }
      }
  }
}
//edit page
.edit-header {
  margin-top: 10px;
  a {
    font-size: 36px;
    padding-left: 20px;
  }
  h1 {
    text-align: center;
    text-transform: capitalize;
  }
}

//footer page

.main-footer {
  margin-top: 60px;
  .container {
    background-color: rgb(239, 243, 248);
    margin-bottom: 0px;

    .dark-bg {
      background-color: rgb(19, 13, 13);
      color: #fff;
      padding-bottom: 10px;
      margin-bottom: 10px;
      .copyright {
          padding: 10px 10px 0 10px;
          text-align: center;
          font-size: 22px;
          text-transform: capitalize;
          font-weight: normal;
      }
      .nav {
        padding: 10px 0;
        nav {
          margin: 7px 0 0 0;
          text-align: center;
          a {
            padding-right: 20px;
            font-size: 18px;
            text-decoration: none;
            text-transform: capitalize;
            color: #fff;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .contactus {
      text-align: center;
      font-size: 28px;
      color: rgba(19, 13, 13, 0.8);
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    .socials {
      padding-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 35%;
      margin: auto;
      text-align: center;
      a {
        padding: 0 7px;
        font-size: 28px;
        &:nth-child(1) {
          color: rgb(160, 39, 39);
        }
        &:nth-child(2) {
          color: rgb(38, 148, 38);
        }
        &:nth-child(3) {
          color: rgb(53, 53, 184);
        }
        &:nth-child(4) {
          color: rgb(60, 142, 153);
        }
      }
    }
    .logo {
      text-align: center;
      a {
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

//////////// media queries

/// mobile device screen
@media only screen and (min-width: 750px) {

    .main-landing{
        .show-case{
            height: 560px !important;
            .content{
                h1{
                    font-size:52px !important;
                }
                p{
                    font-size: 42px !important;
                }
                a{
                    font-size: 28px !important;
                }
            }
        }
        .container{
            .main-title{
                h1{
                    font-size: 34px !important;
                }
                p{
                    width: 85%;
                    margin: auto;
                    text-align: center;
                }
            }
            .slogan-div{
                display: grid;
                grid-template-columns: repeat(3, 1fr) !important;
                grid-gap: 20px;
                .slogans{
                    text-align:center;
                    i{
                        font-size: 72px !important;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .testimonial-div{
            .img{
                height: 470px !important;
            }
            .comment-bg{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
                width: 90%;
                margin: auto;
                .testimonials{
                    width: 100% !important;
                    p{
                        width: 95% !important;
                    }
                }
            }
        }
    }
    .main-new{
        .container{
            width: 75%;
            margin: auto;
            max-width: 540px;
            .form-sec{
                width: 75% !important;
                max-width: 75% !important;
            }
        }
    }
    .main-index{
        .index-showcase{
            display: grid;
            grid-template-columns: 40% 60%;
            padding: 10px;
            
            .title{
                margin: 0!important;
                h1{
                    font-size: 32px;
                    width: 60%;
                    margin: auto;
                }
            }
            .sec-search{
                margin: 0!important ;
                .form{
                }
            }
        }
        .sec-content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 20px;
            max-width: 80%;
            .profile{
                margin: 10px 0;
                .content{
                    width: 90%;
                    margin: auto;
                    height: 220px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: 24px !important;
                        span{
                            font-size: 28px !important;
                        }
                    }
                    a{
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .myneighbour-main{
        .container{
            max-width: 75%;
            margin: auto;
        }
        .sec-content{
            
        }
    }
    .main-profile{
        .container{
            max-width: 75% !important;
            margin: auto
        }
        .form-sec{
            max-width: 65% !important;
        }
    }
    .main-footer{
        .container{
            .socials{
                max-width: 15%;
            }
        }
    }
}
@media only screen and (min-width: 845px){
    .nav-header{
        .nav{
            .container{
                .nav-bar{
                    .nav-login{
                        .burger-menu{
                            display:none !important;
                        }
                    }
                    .small-sc-nav-links{
                        display: none !important;
                    }
                    .nav-login{
                        display: grid;
                        grid-template-columns: 60% 40%;
                        justify-content: center;
                        align-items: center;
                        margin-top: 10px;
                        .nav-links{
                            display:inline-block !important;
                            text-align: center;
                            a{
                                padding: 0 25px;
                               font-size:22px;
                               text-decoration: none;
                               text-transform: capitalize;
                               color: grey;
                               &:hover{
                                   text-decoration:underline;
                               }
                            }
                        }
                        .login{
                            padding-right:20px;
                        }
                    }
                }
            }
        }
    }
    .contact-me-pg{
      width: 95% !important;
      margin: 50px auto !important;
      padding:0 !important;
  }
  .contact-me-wrapper{
      margin: 0 auto !important;
      padding: 0 !important;

      form{
          position: relative;
          right: 30px;
          width: 100% !important;
          max-width: 600px !important;
          display: grid;
          grid-template-columns:1fr 1fr;
          grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
          grid-column-gap: 20px;
          grid-template-areas: 
          ". na em"
          ". ph su"
          ". tx tx"
          ". sp sp"
          ". bt bt";
          margin: 0 auto !important;

          .na{
              grid-area: na;
          }
          .em{
              grid-area: em;
          }
          .ph{
              grid-area: ph;
          }
          .su{
              grid-area: su;
          }
          
          .bt{
              position: relative;
              bottom: 40px;
              
              grid-area: bt;
          }
          textarea{
              width: 100% !important;
              max-width: 628px !important;
              height: 180px !important;
              grid-area: tx;
              grid-column-start: 2;
              grid-column-end: -1;
          }

          .spam-filter{
              position: relative;
              bottom: 15px !important;
              grid-area: sp;
          }
      }
  }
}
@media only screen and (min-width: 1200px){
    .nav-header{
        .nav{
            .container{
                width: 70%;
                margin:auto !important;
            }
        }

    }
    .main-landing{
        .show-case{
            height: 770px !important;
        }
        .main-title{
            p{
                max-width: 60% !important;
            }
        }
        .testimonial-div{
            .img{
                height: 470px !important;
            }
            .comment-bg{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
                width: 90%;
                margin: auto;
                .testimonials{
                    width: 100% !important;
                    p{
                        width: 75% !important;
                    }
                }
            }
        }
      }
}

//////////////////==================///////////////////

@media only screen and(max-width:360px) /*smallest screen*/ {
  .contact-me-pg{
      .contact-me-wrapper{
          display: grid !important;
          grid-template-columns: repeat(2, 1fr) !important;
          grid-template-areas: 
          "f ." !important;
          form{
              grid-area: f !important;
              margin: 0 !important;
              position: relative;
              right: 0 !important;
              left: 0 !important;

              .label1, .label2, input{
                  width: 200px !important;
                  margin: 0 auto !important;
                  padding: 20px 0;
              }
              textarea{
                  width: 290px !important;
                  margin: 0 auto !important;
                  margin-bottom: 10px !important;
              }
          }
      }
  }
}
