body {
  margin: 0;
  overflow-x: hidden;
}

.nav-header .nav {
  padding: 6px;
}

.nav-header .nav .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.nav-header .nav .container h1 {
  margin: 0;
}

.nav-header .nav .container .nav-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.nav-header .nav .container .nav-bar a {
  display: inline-block;
  color: #666666;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.nav-header .nav .container .nav-bar a:hover {
  border-left: 1px solid #5e5c5c;
  border-right: 1px solid #5e5c5c;
  border-top: 1px solid #5e5c5c;
  border-radius: 1px;
}

.nav-header .nav .container .nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header .nav .container .nav-bar .nav-links a {
  margin-right: 15px;
  padding: 7px;
}

.nav-header .nav .container .nav-bar .nav-login {
  text-align: center;
}

.nav-header .nav .container .nav-bar .nav-login a {
  margin-right: 15px;
  padding: 7px;
}

.nav-header .nav .container .nav-bar .nav-login .signup-border {
  border-radius: 6px;
  padding: 10px;
  background-color: #2B860B;
  color: #f3f0f0;
}

.message-container {
  width: 85%;
  margin: 10px auto;
}

.message-container .success {
  background-color: #45d845;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 20px;
  color: #1a5a11;
  margin: 10px 0;
}

.message-container .danger {
  background-color: #e46060;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 20px;
  color: #421618;
}

.main-landing {
  margin-top: 10px;
}

.main-landing .show-case {
  background: url(../images/showcaseimg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 478px;
}

.main-landing .show-case .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 150px;
  color: #fff;
}

.main-landing .show-case .content h1 {
  margin: 0;
  font-size: 66px;
  text-transform: capitalize;
}

.main-landing .show-case .content p {
  font-size: 36px;
  text-transform: capitalize;
  width: 65%;
  text-align: center;
  margin: 0;
  mix-blend-mode: color-dodge;
  border: 1px solid rgba(0, 0, 0, 0.83);
}

.main-landing .show-case .content a {
  color: #fff;
  background-color: #2B860B;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 22px;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
}

.main-landing .container {
  width: 85%;
  margin: auto;
  background-color: rgba(184, 248, 184, 0.1);
  padding: 10px;
}

.main-landing .container .slogan-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  background: rgba(216, 213, 213, 0.1);
  border-radius: 12px;
  padding: 10px;
}

.main-landing .container .slogan-div .slogans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.main-landing .container .slogan-div .slogans h1 {
  margin: 0;
}

.main-landing .container .slogan-div .slogans p {
  width: 85%;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
}

.main-landing .container .testimonial-div {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  background: rgba(218, 159, 159, 0.1);
  border-radius: 12px;
  padding: 10px;
}

.main-landing .container .testimonial-div .title {
  font-family: 'Ribeye Marrow', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 87px;
  text-align: center;
  text-transform: capitalize;
}

.main-landing .container .testimonial-div .slogan-bg .testimonials {
  background-color: #fff;
  border-radius: 8px;
  width: 65%;
  padding-bottom: 60px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-landing .container .testimonial-div .slogan-bg .testimonials h1 {
  margin: 10px 0 0 0;
}

.main-landing .container .testimonial-div .slogan-bg .testimonials p {
  width: 85%;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

.main-index .index-showcase {
  background: url(../images/indeximg.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 647px;
}

.main-index .index-showcase .content {
  position: relative;
  top: 150px;
  color: #fff;
  margin-left: 10px;
}

.main-index .index-showcase .content h1 {
  text-transform: capitalize;
  font-size: 36px;
  margin: 0;
}

.main-index .index-showcase .content .form input[type="text"] {
  margin-top: 10px;
  width: 60%;
  height: 40px;
  border-radius: 8px;
}

.main-index .index-showcase .content .form input[type="text"]::-webkit-input-placeholder {
  font-size: 22px;
  text-transform: capitalize;
  color: coral;
  padding-left: 10px;
}

.main-index .index-showcase .content .form input[type="text"]:-ms-input-placeholder {
  font-size: 22px;
  text-transform: capitalize;
  color: coral;
  padding-left: 10px;
}

.main-index .index-showcase .content .form input[type="text"]::-ms-input-placeholder {
  font-size: 22px;
  text-transform: capitalize;
  color: coral;
  padding-left: 10px;
}

.main-index .index-showcase .content .form input[type="text"]::placeholder {
  font-size: 22px;
  text-transform: capitalize;
  color: coral;
  padding-left: 10px;
}

.main-index .index-showcase .content .form .btn {
  margin-top: 10px;
}

.main-index .index-showcase .content .form .btn input {
  background-color: #2B860B;
  color: #e2dede;
  font-size: 22px;
  border: none;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 6px;
  text-shadow: 0px 2px 3px #000;
  cursor: pointer;
}

.main-index .index-showcase .content .form .btn input:hover {
  color: #fff;
}

.myneighbour-main {
  margin-top: 30px;
}

.myneighbour-main .sec-search {
  background-color: #313535;
  padding: 20px;
  margin-bottom: 20px;
}

.myneighbour-main .sec-search .form form input {
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 3px;
}

.myneighbour-main .sec-search .form form input[type="text"] {
  width: 35%;
  font-size: 20px;
}

.myneighbour-main .sec-search .form form input[type="submit"] {
  width: 17%;
  font-size: 20px;
  text-transform: capitalize;
  background-color: aqua;
  cursor: pointer;
}

.myneighbour-main .sec-search .form form input[type="submit"]:hover {
  font-weight: bold;
}

.myneighbour-main .sec-content {
  width: 90%;
  margin: auto;
}

.myneighbour-main .sec-content .profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  border: 1px solid #5a5959;
  /* Google Maps */
}

.myneighbour-main .sec-content .profile #map {
  height: 200px;
  width: 100%;
}

.myneighbour-main .sec-content .profile .content {
  border: 7px solid #5c8be2;
  padding: 3px;
}

.myneighbour-main .sec-content .profile .content h1 {
  font-size: 18px;
  margin: 0;
  padding: 10px 0;
  font-weight: normal;
}

.myneighbour-main .sec-content .profile .content h1 span {
  font-size: 22px;
  color: #053f05;
}

.myneighbour-main .sec-content .profile .content h2 {
  font-size: 18px;
  margin: 0;
  padding: 0 0 10px 0;
  font-weight: normal;
}

.myneighbour-main .sec-content .profile .content h2 span {
  font-size: 22px;
  color: #053f05;
}

.main-new {
  margin-top: 100px;
}

.main-new .form-title {
  margin-bottom: 10px;
}

.main-new .form-title h1 {
  border-bottom: 1px solid #6e6969;
  padding-bottom: 15px;
  border-radius: 12px;
  width: 40%;
  margin: auto;
  font-size: 26px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: center;
}

.main-new .form-sec {
  border: 1px solid #7c1616;
  padding: 30px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
}

.main-new .form-sec .new-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.main-new .form-sec .new-form .data input {
  padding-left: 10px;
  display: block;
  width: 99%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 5px;
  text-transform: capitalize;
}

.main-new .form-sec .new-form .data ::-webkit-input-placeholder {
  text-transform: capitalize;
  padding-left: 10px;
}

.main-new .form-sec .new-form .data :-ms-input-placeholder {
  text-transform: capitalize;
  padding-left: 10px;
}

.main-new .form-sec .new-form .data ::-ms-input-placeholder {
  text-transform: capitalize;
  padding-left: 10px;
}

.main-new .form-sec .new-form .data ::placeholder {
  text-transform: capitalize;
  padding-left: 10px;
}

.main-new .form-sec .new-form .data label {
  margin: 8px 0;
  padding-left: 5px;
  font-size: 22px;
  text-transform: capitalize;
}

.main-new .form-sec .new-form .data label textarea {
  border-radius: 5px;
  border: 1px solid grey;
  width: 96%;
  margin-top: 10px;
  height: 160px;
  text-transform: capitalize;
  padding: 15px 15px;
}

.main-new .form-sec .new-form .gender {
  margin-top: 10px;
}

.main-new .form-sec .new-form .gender input {
  margin: 0 2px 30px 15px;
}

.main-new .form-sec .new-form .new-btn {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.main-new .form-sec .new-form .new-btn button {
  padding: 20px 40px;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #610661;
  border: 1px solid #924292;
  cursor: pointer;
  background-color: #fff;
}

.main-new .form-sec .new-form .new-btn button:hover {
  background-color: #e8c0fc;
}

@media only screen and (max-width: 600px) {
  .main-new .form-sec {
    width: 70% !important;
  }
  .main-new .form-sec input {
    margin-left: -10px !important;
  }
  .main-new .form-sec label {
    margin-left: -10px !important;
  }
  .main-new .form-sec textarea {
    width: 94% !important;
    margin-left: -10px !important;
  }
  .main-new .form-sec button {
    margin-left: -10px !important;
  }
}
/*# sourceMappingURL=app.css.map */