* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.nav-header .nav .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 7px 0;
}

.nav-header .nav .container .logo {
  text-align: center;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links {
  display: none;
  z-index: 1;
  background-color: #1d181a;
  color: #fff;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 500px;
  padding: 10px;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links h1 {
  text-align: right;
  font-size: 46px;
  margin-bottom: 40px;
  padding-right: 20px;
  cursor: pointer;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .main-a {
  border: 0.5px solid rgba(65, 65, 65, 0.4);
  border-radius: 3px;
  display: block;
  color: #fff;
  padding: 10px;
  font-size: 22px;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .main-a:hover {
  background-color: rgba(233, 233, 233, 0.2);
  font-weight: bold;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .login {
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .login a {
  text-align: center;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .login .user {
  font-size: 36px;
  color: #343c49;
  font-weight: bold;
  margin-bottom: 10px;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .login .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #df6535;
  padding: 7px 17px;
  border-radius: 12px;
  color: #fff;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .login .login-border {
  background-color: #df6535;
  padding: 7px 17px;
  border-radius: 12px;
  color: #fff;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .login .login-border {
  margin-bottom: 20px;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .socials {
  margin: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .socials a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 28px;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .socials a:nth-child(1) {
  color: #b96969;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .socials a:nth-child(2) {
  color: #68b668;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .socials a:nth-child(3) {
  color: #7474c0;
}

.nav-header .nav .container .nav-bar .small-sc-nav-links .socials a:nth-child(4) {
  color: #669fa7;
}

.nav-header .nav .container .nav-bar .nav-login .nav-links {
  display: none !important;
}

.nav-header .nav .container .nav-bar .nav-login .login {
  text-align: right;
  margin: 7px 0px 0 0;
}

.nav-header .nav .container .nav-bar .nav-login .login .user {
  font-size: 32px;
  color: #4f6385;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.nav-header .nav .container .nav-bar .nav-login .login a {
  font-size: 22px;
  text-transform: capitalize;
  text-decoration: none;
  color: grey;
  padding: 0 25px 0 15px;
}

.nav-header .nav .container .nav-bar .nav-login .login .signup-border {
  margin-right: 15px;
  background-color: #4f6385;
  font-weight: bold;
  padding: 7px;
  border-radius: 12px;
  color: #fff;
}

.nav-header .nav .container .nav-bar .nav-login .login i {
  margin-right: 24px;
  font-size: 24px;
  cursor: pointer;
}

.message-container {
  width: 85%;
  margin: 10px auto;
}

.message-container .success {
  background-color: #45d845;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 20px;
  color: #1a5a11;
  margin: 10px 0;
}

.message-container .danger {
  background-color: #e46060;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 20px;
  color: #421618;
}

.main-landing .show-case {
  margin-bottom: 60px;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-landing .show-case .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 70px;
}

.main-landing .show-case .content h1 {
  margin: 0;
  font-size: 56px;
  text-transform: capitalize;
}

.main-landing .show-case .content p {
  font-size: 36px;
  text-transform: capitalize;
  width: 75%;
  text-align: center;
  margin: 0;
  mix-blend-mode: color-dodge;
}

.main-landing .show-case .content a {
  color: #f7f7d9;
  background-color: #2b860b;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 24px;
  padding: 12px;
  border-radius: 8px;
  margin-top: 20px;
}

.main-landing .show-case .images {
  z-index: -2;
}

.main-landing .show-case .images .uls {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 100px;
  left: 0;
  list-style: none;
  z-index: -2;
  padding: 0;
  margin: 0;
}

.main-landing .show-case .images .uls li {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: -2;
  -webkit-animation: imageAnimation 50s linear infinite;
          animation: imageAnimation 50s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.main-landing .show-case .images .uls li:nth-child(1) {
  background-image: url(../images/img5.jpg);
}

.main-landing .show-case .images .uls li:nth-child(2) {
  background-image: url(../images/img2.png);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.main-landing .show-case .images .uls li:nth-child(3) {
  background-image: url(../images/img3.png);
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.main-landing .show-case .images .uls li:nth-child(4) {
  background-image: url(../images/img4.png);
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

.main-landing .show-case .images .uls li:nth-child(5) {
  background-image: url(../images/img1.png);
  -webkit-animation-delay: 40s;
          animation-delay: 40s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25% {
    opacity: 0.6;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    opacity: 0.7;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  75% {
    opacity: 0.7;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25% {
    opacity: 0.6;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    opacity: 0.7;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  75% {
    opacity: 0.7;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

.main-landing .container {
  width: 90%;
  margin: auto;
  background-color: #fdfffa;
  padding: 20px;
}

.main-landing .container .main-title {
  margin-bottom: 30px;
  text-align: center;
}

.main-landing .container .main-title h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #4f6385;
}

.main-landing .container .main-title p {
  padding: 0 0 20px 0;
  font-size: 18px;
  color: #363636;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.5px;
  word-spacing: 0.7px;
}

.main-landing .container .main-title p .bold {
  font-size: 19px;
  font-weight: bold;
  color: #4e4e4e;
}

.main-landing .container .main-title a {
  color: #f7f7d9;
  background-color: #7cc43a;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 8px;
}

.main-landing .container .slogan-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  border-radius: 12px;
  padding: 10px;
}

.main-landing .container .slogan-div .slogans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.main-landing .container .slogan-div .slogans h1 {
  margin: 0;
  color: #4f6385;
}

.main-landing .container .slogan-div .slogans p {
  color: rgba(78, 78, 78, 0.8);
  width: 85%;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
}

.main-landing .container .slogan-div .slogans i {
  color: #2b860b;
  font-size: 64px;
}

.main-landing .testimonial-div {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  border-radius: 12px;
}

.main-landing .testimonial-div .img {
  background: url(../images/testimonial.jpg);
  width: 100%;
  height: 330px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-landing .testimonial-div .title h1 {
  font-family: "Ribeye Marrow", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 87px;
  text-align: center;
  text-transform: capitalize;
  color: #111111;
  text-decoration: underline;
}

.main-landing .testimonial-div .comment-bg .testimonials {
  background-color: #fff;
  border-radius: 8px;
  width: 65%;
  padding-bottom: 60px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-landing .testimonial-div .comment-bg .testimonials h1 {
  margin: 10px 0 0 0;
  color: #4f6385;
  font-family: sans-serif;
}

.main-landing .testimonial-div .comment-bg .testimonials p {
  width: 85%;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  color: #4e4e4e;
}

.about-main .img {
  background: url(../images/about-pg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.about-main .title {
  background-color: #4f6385;
  padding: 10px;
  border-radius: 21px;
  max-width: 40%;
  margin: auto;
}

.about-main .title h1 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 38px;
  text-align: center;
}

.about-main .container {
  width: 85%;
  margin: auto;
}

.about-main .container .sub-title {
  margin: 20px 0;
  color: #c55252;
  font-size: 32px;
}

.about-main .container .intro p {
  margin-top: -10px;
}

.about-main .container .intro h3 {
  margin: 20px 0 0 0;
}

.about-main .container .main-content {
  background-color: rgba(243, 242, 242, 0.4);
  padding: 10px;
  border-radius: 8px;
  margin: 20px 10px;
}

.about-main .container .main-content p {
  margin-top: 13px;
  font-size: 18px;
}

.main-index {
  margin-bottom: 100px;
}

.main-index .index-showcase {
  background: #7d8bd2;
  background: radial-gradient(circle, #7d8bd2 0%, #0f1112 100%);
}

.main-index .index-showcase .title {
  text-transform: capitalize;
  text-align: center;
  margin: 20px 0 10px 0;
  padding-top: 10px;
}

.main-index .index-showcase .title h1 {
  padding: 0 10px;
  color: #eeeded;
  font-size: 34px;
}

.main-index .index-showcase .sec-search {
  padding: 20px;
  margin-bottom: 20px;
}

.main-index .index-showcase .sec-search .form form input {
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 3px;
}

.main-index .index-showcase .sec-search .form form input[type="text"] {
  width: 65%;
  font-size: 20px;
}

.main-index .index-showcase .sec-search .form form input[type="submit"] {
  width: 25%;
  font-size: 20px;
  text-transform: capitalize;
  background-color: #c2c2c2;
  cursor: pointer;
}

.main-index .index-showcase .sec-search .form form input[type="submit"]:hover {
  font-weight: bold;
}

.main-index .sec-content {
  width: 90%;
  margin: auto;
}

.main-index .sec-content .profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin: 10px 0 0 0;
}

.main-index .sec-content .profile .content {
  background: #444c63;
  background: -webkit-gradient(linear, left top, right top, from(#54375a), color-stop(66%, #4a65b0), to(#3a3f53));
  background: linear-gradient(90deg, #54375a 0%, #4a65b0 66%, #3a3f53 100%);
  padding: 10px;
}

.main-index .sec-content .profile .content p {
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
  font-weight: normal;
  text-transform: capitalize;
  color: #fafafa;
}

.main-index .sec-content .profile .content p span {
  font-size: 22px;
  color: #edf8fa;
}

.main-index .sec-content .profile .content p i {
  color: #e4cfcf;
}

.main-index .sec-content .profile .content a {
  text-transform: capitalize;
  color: #eb9c9c;
  font-weight: bold;
}

.contact-me-pg {
  padding: 20px 0;
}

.contact-me-pg .contact-me-container {
  background: #eecaae;
  background: radial-gradient(circle, #eecaae 0%, #79ade9 100%);
  border-radius: 12px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 !important;
}

.contact-me-pg .contact-me-container .title {
  text-align: center;
}

.contact-me-pg .contact-me-container .title h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: normal;
  color: #2b0202;
}

.contact-me-pg .contact-me-container .title p {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 50px;
}

.contact-me-pg .contact-me-container .contact-me-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.contact-me-pg .contact-me-container .contact-me-wrapper form {
  width: 70%;
  margin-left: 40px;
}

.contact-me-pg .contact-me-container .contact-me-wrapper form p {
  margin-bottom: 20px;
}

.contact-me-pg .contact-me-container .contact-me-wrapper form .label1 label, .contact-me-pg .contact-me-container .contact-me-wrapper form .label2 label {
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
  font-style: italic;
  color: #2b0202;
}

.contact-me-pg .contact-me-container .contact-me-wrapper form .label1 input, .contact-me-pg .contact-me-container .contact-me-wrapper form .label2 input {
  width: 100%;
  padding: 15px;
}

.contact-me-pg .contact-me-container .contact-me-wrapper form .label1 input::-webkit-input-placeholder, .contact-me-pg .contact-me-container .contact-me-wrapper form .label2 input::-webkit-input-placeholder {
  text-transform: capitalize;
  font-size: 14px;
  opacity: 0.9;
  position: relative;
  bottom: 5px;
  right: 4px;
}

.contact-me-pg .contact-me-container .contact-me-wrapper form .label1 input:-ms-input-placeholder, .contact-me-pg .contact-me-container .contact-me-wrapper form .label2 input:-ms-input-placeholder {
  text-transform: capitalize;
  font-size: 14px;
  opacity: 0.9;
  position: relative;
  bottom: 5px;
  right: 4px;
}

.contact-me-pg .contact-me-container .contact-me-wrapper form .label1 input::-ms-input-placeholder, .contact-me-pg .contact-me-container .contact-me-wrapper form .label2 input::-ms-input-placeholder {
  text-transform: capitalize;
  font-size: 14px;
  opacity: 0.9;
  position: relative;
  bottom: 5px;
  right: 4px;
}

.contact-me-pg .contact-me-container .contact-me-wrapper form .label1 input::placeholder, .contact-me-pg .contact-me-container .contact-me-wrapper form .label2 input::placeholder {
  text-transform: capitalize;
  font-size: 14px;
  opacity: 0.9;
  position: relative;
  bottom: 5px;
  right: 4px;
}

.contact-me-pg .contact-me-container .contact-me-wrapper form textarea {
  display: block;
  width: 290px;
  max-width: 400px;
  margin: 10px 0;
  font-size: 16px;
  padding: 7px 0 0 7px;
}

.contact-me-pg .contact-me-container .contact-me-wrapper form button {
  background-color: red;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: 0 2px 2px grey;
  margin-bottom: 60px;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.myneighbour-main a {
  padding: 0 7px 0 12px;
  font-size: 30px;
  position: relative;
  top: 10px;
}

.myneighbour-main .container .sec-content {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #8a8aff;
  background: -webkit-gradient(linear, left top, right top, from(#8a8aff), color-stop(0%, #020024), color-stop(96%, #00d4ff));
  background: linear-gradient(90deg, #8a8aff 0%, #020024 0%, #00d4ff 96%);
  color: #fff;
  margin: 30px 0 0px 0;
  padding: 15px 15px 15px 35px;
  font-size: 22px;
}

.myneighbour-main .container .sec-content .dark {
  color: #8fe5a2 !important;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.myneighbour-main .container .sec-content p {
  margin-top: 10px;
  text-transform: capitalize;
}

.map-content h3 {
  text-transform: capitalize;
}

.map-content p {
  margin-top: 5px;
  font-weight: bold;
  color: #222222;
}

/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}

.main-new .container {
  background: #7d8bd2;
  background: radial-gradient(circle, #7d8bd2 0%, #54bcee 100%);
  padding: 30px;
  padding: 70px 30px 130px 30px;
}

.main-new .container .form-sec {
  border: 1px solid #7c1616;
  border-radius: 10px;
  width: 85%;
  margin: auto;
  padding: 20px;
}

.main-new .container .form-sec .form-title {
  margin-bottom: 10px;
  color: #111214;
}

.main-new .container .form-sec .form-title h1 {
  border-bottom: 1px solid #6e6969;
  padding-bottom: 15px;
  border-radius: 12px;
  width: 40%;
  margin: auto;
  font-size: 26px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: center;
}

.main-new .container .form-sec .new-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.main-new .container .form-sec .new-form .data input {
  display: block;
  width: 99%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 18px;
}

.main-new .container .form-sec .new-form .data label {
  margin: 8px 0;
  padding-left: 5px;
  font-size: 22px;
  text-transform: capitalize;
  color: ivory;
}

.main-new .container .form-sec .new-form .data label textarea {
  border-radius: 5px;
  border: 1px solid grey;
  width: 96%;
  margin-top: 10px;
  height: 160px;
  padding: 15px 15px;
}

.main-new .container .form-sec .new-form .new-btn {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.main-new .container .form-sec .new-form .new-btn button {
  padding: 20px 40px;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #610661;
  border: 1px solid #924292;
  cursor: pointer;
  background-color: #fff;
}

.main-new .container .form-sec .new-form .new-btn button:hover {
  background-color: #e8c0fc;
}

.edit-header {
  padding-top: 20px;
}

.edit-header h1 {
  border-bottom: 1px solid #6e6969;
  color: #2b0202;
  padding-bottom: 15px;
  border-radius: 12px;
  width: 70%;
  margin: auto;
  font-size: 28px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: center;
}

.main-profile {
  margin-top: 30px;
}

.main-profile .container {
  background: #22c1c3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(67%, #22c1c3), to(#fdbb2d));
  background: linear-gradient(0deg, #22c1c3 67%, #fdbb2d 100%);
  padding: 30px;
}

.main-profile .container .form-sec {
  border: 1px solid #7c1616;
  padding: 30px;
  border-radius: 10px;
  width: 85%;
  margin: auto;
}

.main-profile .container .form-sec .new-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.main-profile .container .form-sec .new-form .data input {
  padding-left: 10px;
  display: block;
  width: 99%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 18px;
}

.main-profile .container .form-sec .new-form .data label {
  color: #2b0202;
  font-weight: bold;
  margin: 8px 0;
  padding-left: 5px;
  font-size: 22px;
  text-transform: capitalize;
}

.main-profile .container .form-sec .new-form .data label textarea {
  border-radius: 5px;
  border: 1px solid grey;
  width: 96%;
  margin-top: 10px;
  height: 160px;
  padding: 15px 15px;
}

.main-profile .container .form-sec .new-form .gender {
  margin-top: 10px;
}

.main-profile .container .form-sec .new-form .gender input {
  margin: 0 2px 30px 15px;
}

.main-profile .container .form-sec .new-form .del-btn button {
  background-color: #e93131 !important;
  color: blanchedalmond !important;
}

.main-profile .container .form-sec .new-form .new-btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}

.main-profile .container .form-sec .new-form .new-btn button {
  padding: 20px 20px;
  font-size: 24px;
  text-transform: capitalize;
  color: #610661;
  border: 1px solid #924292;
  cursor: pointer;
  background-color: #fff;
}

.main-profile .container .form-sec .new-form .new-btn button:hover {
  font-weight: bold;
}

.edit-header {
  margin-top: 10px;
}

.edit-header a {
  font-size: 36px;
  padding-left: 20px;
}

.edit-header h1 {
  text-align: center;
  text-transform: capitalize;
}

.main-footer {
  margin-top: 60px;
}

.main-footer .container {
  background-color: #eff3f8;
  margin-bottom: 0px;
}

.main-footer .container .dark-bg {
  background-color: #130d0d;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.main-footer .container .dark-bg .copyright {
  padding: 10px 10px 0 10px;
  text-align: center;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: normal;
}

.main-footer .container .dark-bg .nav {
  padding: 10px 0;
}

.main-footer .container .dark-bg .nav nav {
  margin: 7px 0 0 0;
  text-align: center;
}

.main-footer .container .dark-bg .nav nav a {
  padding-right: 20px;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

.main-footer .container .dark-bg .nav nav a:hover {
  text-decoration: underline;
}

.main-footer .container .contactus {
  text-align: center;
  font-size: 28px;
  color: rgba(19, 13, 13, 0.8);
  text-transform: capitalize;
  margin-bottom: 10px;
}

.main-footer .container .socials {
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 35%;
  margin: auto;
  text-align: center;
}

.main-footer .container .socials a {
  padding: 0 7px;
  font-size: 28px;
}

.main-footer .container .socials a:nth-child(1) {
  color: #a02727;
}

.main-footer .container .socials a:nth-child(2) {
  color: #269426;
}

.main-footer .container .socials a:nth-child(3) {
  color: #3535b8;
}

.main-footer .container .socials a:nth-child(4) {
  color: #3c8e99;
}

.main-footer .container .logo {
  text-align: center;
}

.main-footer .container .logo a img {
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 750px) {
  .main-landing .show-case {
    height: 560px !important;
  }
  .main-landing .show-case .images .uls {
    height: 570px !important;
  }
  .main-landing .show-case .images .uls li {
    height: 570px !important;
  }
  .main-landing .show-case .content h1 {
    font-size: 52px !important;
  }
  .main-landing .show-case .content p {
    font-size: 42px !important;
  }
  .main-landing .show-case .content a {
    font-size: 28px !important;
  }
  .main-landing .container .main-title h1 {
    font-size: 34px !important;
  }
  .main-landing .container .main-title p {
    width: 85%;
    margin: auto;
    text-align: center;
  }
  .main-landing .container .slogan-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 20px;
  }
  .main-landing .container .slogan-div .slogans {
    text-align: center;
  }
  .main-landing .container .slogan-div .slogans i {
    font-size: 72px !important;
    margin-bottom: 10px;
  }
  .main-landing .testimonial-div .img {
    height: 470px !important;
  }
  .main-landing .testimonial-div .comment-bg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 90%;
    margin: auto;
  }
  .main-landing .testimonial-div .comment-bg .testimonials {
    width: 100% !important;
  }
  .main-landing .testimonial-div .comment-bg .testimonials p {
    width: 95% !important;
  }
  .main-new .container {
    width: 75%;
    margin: auto;
    max-width: 540px;
  }
  .main-new .container .form-sec {
    width: 75% !important;
    max-width: 75% !important;
  }
  .main-index .index-showcase {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    padding: 10px;
  }
  .main-index .index-showcase .title {
    margin: 0 !important;
  }
  .main-index .index-showcase .title h1 {
    font-size: 32px;
    width: 60%;
    margin: auto;
  }
  .main-index .index-showcase .sec-search {
    margin: 0 !important;
  }
  .main-index .sec-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 80%;
  }
  .main-index .sec-content .profile {
    margin: 10px 0;
  }
  .main-index .sec-content .profile .content {
    width: 90%;
    margin: auto;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-index .sec-content .profile .content p {
    font-size: 24px !important;
  }
  .main-index .sec-content .profile .content p span {
    font-size: 28px !important;
  }
  .main-index .sec-content .profile .content a {
    font-size: 22px;
  }
  .myneighbour-main .container {
    max-width: 75%;
    margin: auto;
  }
  .main-profile .container {
    max-width: 75% !important;
    margin: auto;
  }
  .main-profile .form-sec {
    max-width: 65% !important;
  }
  .main-footer .container .socials {
    max-width: 15%;
  }
}

@media only screen and (min-width: 845px) {
  .nav-header .nav .container .nav-bar .nav-login .burger-menu {
    display: none !important;
  }
  .nav-header .nav .container .nav-bar .small-sc-nav-links {
    display: none !important;
  }
  .nav-header .nav .container .nav-bar .nav-login {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .nav-header .nav .container .nav-bar .nav-login .nav-links {
    display: inline-block !important;
    text-align: center;
  }
  .nav-header .nav .container .nav-bar .nav-login .nav-links a {
    padding: 0 25px;
    font-size: 22px;
    text-decoration: none;
    text-transform: capitalize;
    color: grey;
  }
  .nav-header .nav .container .nav-bar .nav-login .nav-links a:hover {
    text-decoration: underline;
  }
  .nav-header .nav .container .nav-bar .nav-login .login {
    padding-right: 20px;
  }
  .contact-me-pg {
    width: 95% !important;
    margin: 50px auto !important;
    padding: 0 !important;
  }
  .contact-me-wrapper {
    margin: 0 auto !important;
    padding: 0 !important;
  }
  .contact-me-wrapper form {
    position: relative;
    right: 30px;
    max-width: 600px !important;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 10px;
        grid-template-areas: ". na em" ". ph su" ". tx tx" ". bt bt";
    margin: 0 auto !important;
  }
  .contact-me-wrapper form .na {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: na;
  }
  .contact-me-wrapper form .em {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: em;
  }
  .contact-me-wrapper form .ph {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: ph;
  }
  .contact-me-wrapper form .su {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: su;
  }
  .contact-me-wrapper form .bt {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: bt;
  }
  .contact-me-wrapper form input {
    width: auto !important;
  }
  .contact-me-wrapper form textarea {
    width: 100% !important;
    max-width: 628px !important;
    height: 180px !important;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: tx;
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-header .nav .container {
    width: 70%;
    margin: auto !important;
  }
  .main-landing .main-title p {
    max-width: 60% !important;
  }
  .main-landing .testimonial-div .img {
    height: 470px !important;
  }
  .main-landing .testimonial-div .comment-bg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 90%;
    margin: auto;
  }
  .main-landing .testimonial-div .comment-bg .testimonials {
    width: 100% !important;
  }
  .main-landing .testimonial-div .comment-bg .testimonials p {
    width: 75% !important;
  }
}

@media only screen and (max-width: 360px) {
  .contact-me-pg .contact-me-wrapper {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-areas: "f ." !important;
  }
  .contact-me-pg .contact-me-wrapper form {
    -ms-grid-row: 1 !important;
    -ms-grid-column: 1 !important;
    grid-area: f !important;
    margin: 0 !important;
    position: relative;
    right: 0 !important;
    left: 0 !important;
  }
  .contact-me-pg .contact-me-wrapper form .label1, .contact-me-pg .contact-me-wrapper form .label2, .contact-me-pg .contact-me-wrapper form input {
    width: 200px !important;
    margin: 0 auto !important;
    padding: 20px 0;
  }
  .contact-me-pg .contact-me-wrapper form textarea {
    width: 290px !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }
}
/*# sourceMappingURL=app.css.map */