* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.nav-header .nav .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.nav-header .nav .container h1 {
  margin: 0;
}

.nav-header .nav .container .nav-bar {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  padding: 6px 0;
}

.nav-header .nav .container .nav-bar a {
  display: inline-block;
  color: #666666;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  z-index: 1;
}

.nav-header .nav .container .nav-bar a:hover {
  border-left: 1px solid #5e5c5c;
  border-right: 1px solid #5e5c5c;
  border-top: 1px solid #5e5c5c;
  border-radius: 1px;
}

.nav-header .nav .container .nav-bar .nav-links a {
  display: inline-block;
  margin-right: 15px;
  padding: 7px;
}

.nav-header .nav .container .nav-bar .nav-login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
      grid-template-areas: "login menu";
}

.nav-header .nav .container .nav-bar .nav-login .burger-menu {
  display: none;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  text-align: right;
  font-size: 24px;
  padding: 7px 12px 7px 7px;
  cursor: pointer;
}

.nav-header .nav .container .nav-bar .nav-login .login {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: login;
  text-align: right;
}

.nav-header .nav .container .nav-bar .nav-login .login a {
  margin-right: 15px;
  padding: 7px;
}

.nav-header .nav .container .nav-bar .nav-login .login .signup-border {
  border-radius: 6px;
  padding: 10px;
  background-color: #2B860B;
  color: #f3f0f0;
}

.message-container {
  width: 85%;
  margin: 10px auto;
}

.message-container .success {
  background-color: #45d845;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 20px;
  color: #1a5a11;
  margin: 10px 0;
}

.message-container .danger {
  background-color: #e46060;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 20px;
  color: #421618;
}

.main-landing {
  margin-top: 10px;
}

.main-landing .show-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 160px;
}

.main-landing .show-case .content {
  position: relative;
  top: 50px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  z-index: 1;
}

.main-landing .show-case .content h1 {
  z-index: 1;
  margin: 0;
  font-size: 42px;
  text-transform: capitalize;
}

.main-landing .show-case .content p {
  z-index: 1;
  font-size: 36px;
  text-transform: capitalize;
  width: 75%;
  text-align: center;
  margin: 0;
  mix-blend-mode: color-dodge;
}

.main-landing .show-case .content a {
  z-index: 1;
  color: #f7f7d9;
  background-color: #2b860b;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 24px;
  padding: 12px;
  border-radius: 8px;
  margin-top: 20px;
}

.main-landing .show-case .images .uls {
  position: absolute;
  width: 100%;
  height: 350px;
  top: 10%;
  left: 0;
  list-style: none;
  z-index: 0;
  padding: 0;
  margin: 0;
}

.main-landing .show-case .images .uls li {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 50s linear infinite;
          animation: imageAnimation 50s linear infinite;
}

.main-landing .show-case .images .uls li:nth-child(1) {
  background-image: url(../images/img1.png);
}

.main-landing .show-case .images .uls li:nth-child(2) {
  background-image: url(../images/img2.png);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.main-landing .show-case .images .uls li:nth-child(3) {
  background-image: url(../images/img3.png);
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.main-landing .show-case .images .uls li:nth-child(4) {
  background-image: url(../images/img4.png);
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

.main-landing .show-case .images .uls li:nth-child(5) {
  background-image: url(../images/img5.png);
  -webkit-animation-delay: 40s;
          animation-delay: 40s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
}

.main-landing .container {
  width: 90%;
  margin: auto;
  background-color: #f8f7f7;
  padding: 20px;
}

.main-landing .container .main-title {
  margin-bottom: 30px;
  text-align: center;
}

.main-landing .container .main-title h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.main-landing .container .slogan-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  border-radius: 12px;
  padding: 10px;
}

.main-landing .container .slogan-div .slogans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.main-landing .container .slogan-div .slogans h1 {
  margin: 0;
}

.main-landing .container .slogan-div .slogans p {
  width: 85%;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
}

.main-landing .testimonial-div {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  border-radius: 12px;
}

.main-landing .testimonial-div .img {
  background: url(../images/testimonial.jpg);
  width: 100%;
  height: 330px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-landing .testimonial-div .title h1 {
  font-family: 'Ribeye Marrow', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 87px;
  text-align: center;
  text-transform: capitalize;
  color: #111111;
}

.main-landing .testimonial-div .slogan-bg .testimonials {
  background-color: #fff;
  border-radius: 8px;
  width: 65%;
  padding-bottom: 60px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-landing .testimonial-div .slogan-bg .testimonials h1 {
  margin: 10px 0 0 0;
  font-family: sans-serif;
}

.main-landing .testimonial-div .slogan-bg .testimonials p {
  width: 85%;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

.main-index {
  margin-bottom: 100px;
}

.main-index .index-showcase .title {
  text-transform: capitalize;
  text-align: center;
  margin: 20px 0;
  text-shadow: 0px 2px 3px #f3f3df;
}

.main-index .index-showcase .sec-search {
  background: #7d8bd2;
  background: radial-gradient(circle, #7d8bd2 0%, #0f1112 100%);
  padding: 20px;
  margin-bottom: 20px;
}

.main-index .index-showcase .sec-search .form form input {
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 3px;
}

.main-index .index-showcase .sec-search .form form input[type="text"] {
  width: 65%;
  font-size: 20px;
}

.main-index .index-showcase .sec-search .form form input[type="submit"] {
  width: 25%;
  font-size: 20px;
  text-transform: capitalize;
  background-color: aqua;
  cursor: pointer;
}

.main-index .index-showcase .sec-search .form form input[type="submit"]:hover {
  font-weight: bold;
}

.main-index .sec-content {
  width: 90%;
  margin: auto;
}

.main-index .sec-content .profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.main-index .sec-content .profile .content {
  background: #8a8aff;
  background: -webkit-gradient(linear, left top, right top, from(#8a8aff), color-stop(0%, #020024), color-stop(96%, #00d4ff));
  background: linear-gradient(90deg, #8a8aff 0%, #020024 0%, #00d4ff 96%);
  margin: 10px 0;
  padding: 10px;
}

.main-index .sec-content .profile .content p {
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
  font-weight: normal;
  text-transform: capitalize;
  color: #fafafa;
}

.main-index .sec-content .profile .content p span {
  font-size: 22px;
}

.main-index .sec-content .profile .content p i {
  color: #e4cfcf;
}

.main-index .sec-content .profile .content a {
  text-transform: capitalize;
  color: #eb9c9c;
  font-weight: bold;
}

.myneighbour-main .container a {
  padding: 0 7px;
  font-size: 30px;
}

.myneighbour-main .container .sec-content {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #8a8aff;
  background: -webkit-gradient(linear, left top, right top, from(#8a8aff), color-stop(0%, #020024), color-stop(96%, #00d4ff));
  background: linear-gradient(90deg, #8a8aff 0%, #020024 0%, #00d4ff 96%);
  color: #fff;
  margin: 20px 0 0px 0;
  padding: 15px 15px 15px 35px;
  font-size: 22px;
}

.myneighbour-main .container .sec-content p {
  margin-top: 10px;
}

/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}

.main-new .container {
  background: #7d8bd2;
  background: radial-gradient(circle, #7d8bd2 0%, #54bcee 100%);
  padding: 30px;
  padding: 120px 30px 210px 30px;
}

.main-new .container .form-sec {
  border: 1px solid #7c1616;
  border-radius: 10px;
  width: 85%;
  margin: auto;
  padding: 20px;
}

.main-new .container .form-sec .form-title {
  margin-bottom: 10px;
}

.main-new .container .form-sec .form-title h1 {
  border-bottom: 1px solid #6e6969;
  padding-bottom: 15px;
  border-radius: 12px;
  width: 40%;
  margin: auto;
  font-size: 26px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: center;
}

.main-new .container .form-sec .new-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.main-new .container .form-sec .new-form .data input {
  display: block;
  width: 99%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 5px;
  text-transform: capitalize;
  padding-left: 10px;
  font-size: 18px;
}

.main-new .container .form-sec .new-form .data label {
  margin: 8px 0;
  padding-left: 5px;
  font-size: 22px;
  text-transform: capitalize;
  color: ivory;
}

.main-new .container .form-sec .new-form .data label textarea {
  border-radius: 5px;
  border: 1px solid grey;
  width: 96%;
  margin-top: 10px;
  height: 160px;
  text-transform: capitalize;
  padding: 15px 15px;
}

.main-new .container .form-sec .new-form .new-btn {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.main-new .container .form-sec .new-form .new-btn button {
  padding: 20px 40px;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #610661;
  border: 1px solid #924292;
  cursor: pointer;
  background-color: #fff;
}

.main-new .container .form-sec .new-form .new-btn button:hover {
  background-color: #e8c0fc;
}

.main-profile {
  margin-top: 30px;
  background: #7d8bd2;
  background: radial-gradient(circle, #7d8bd2 0%, #54bcee 100%);
  padding: 30px;
}

.main-profile .form-title {
  margin-bottom: 10px;
}

.main-profile .form-title h1 {
  border-bottom: 1px solid #6e6969;
  padding-bottom: 15px;
  border-radius: 12px;
  width: 100%;
  margin: auto;
  font-size: 26px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: center;
}

.main-profile .form-sec {
  border: 1px solid #7c1616;
  padding: 30px;
  border-radius: 10px;
  width: 85%;
  margin: auto;
}

.main-profile .form-sec .new-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.main-profile .form-sec .new-form .data input {
  padding-left: 10px;
  display: block;
  width: 99%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 5px;
  text-transform: capitalize;
  padding-left: 10px;
  font-size: 18px;
}

.main-profile .form-sec .new-form .data label {
  margin: 8px 0;
  padding-left: 5px;
  font-size: 22px;
  text-transform: capitalize;
  color: #2e2020;
}

.main-profile .form-sec .new-form .data label textarea {
  border-radius: 5px;
  border: 1px solid grey;
  width: 96%;
  margin-top: 10px;
  height: 160px;
  text-transform: capitalize;
  padding: 15px 15px;
}

.main-profile .form-sec .new-form .gender {
  margin-top: 10px;
}

.main-profile .form-sec .new-form .gender input {
  margin: 0 2px 30px 15px;
}

.main-profile .form-sec .new-form .new-btn {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.main-profile .form-sec .new-form .new-btn button {
  padding: 20px 40px;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #610661;
  border: 1px solid #924292;
  cursor: pointer;
  background-color: #fff;
}

.main-profile .form-sec .new-form .new-btn button:hover {
  background-color: #e8c0fc;
}

@media only screen and (max-width: 750px) {
  .main-landing {
    z-index: 0 !important;
  }
  .nav-header .nav .container {
    -ms-grid-columns: 0% 100% !important;
        grid-template-columns: 0% 100% !important;
  }
  .nav-header .nav .container .nav-bar .nav-links {
    display: none;
    background-color: #000;
    margin-top: 10px;
    margin-bottom: -60px;
  }
  .nav-header .nav .container .nav-bar .nav-links a {
    display: block !important;
    text-align: right;
    color: #fff;
    margin: 0 !important;
  }
  .nav-header .nav .container .nav-bar .nav-login .burger-menu {
    display: block !important;
  }
}
/*# sourceMappingURL=app.css.map */