<%- include ('../partials/header') %> 
<%- include ('../partials/nav') %> 

<main class="about-main">
    <div class="img"></div>
    <div class="title">
        <h1>about us</h1>
    </div>
    <div class="container">
        <div class="sub-title">
            <h3>voluntary work</h3>
        </div>
        <div class="intro">
            <!-- <p>
                We are a group of two people, who set out to bring the community together. Due to the stress we
                experience because of the lockdown it is increasingly difficult to skip the feeling of loneliness 
            </p> -->
            <h3>What is our purpose?</h3><br>
            <p>
                We want to show that we can be close to each other and follow the rules at the same time. <br>
            </p>
            <h3>How do we do that</h3><br>
            <p>
                Let's help out our friends, families and neighbours.
                This is the time when we can make things right.
                <span class="bold">Join us to promote kindness through small things that will make us proud. </span>
            </p>
        </div>
        <div class="main-content">
            <p>
                I want people to understand that it is not about money. It is about us and our needs.
            </p>
            <p>
                Is about how vulnerable we are in front of a challenge that we don't know how to deal with
            </p>
            <p>
                I see a lot of people looking to do good things, but for different reasons they are incapable becouse they don't have a platform that they can reach others.
            </p>
            <p>This site brings us closer to each other, to help each other with small things, which before this
                pandemic many of us was not paying attention to them.</p>
            <p>Maybe we are going to work or we have kids or we are vulnerable because of a medical
                condition.Here we can find those close to us and ask for support. Those who will be able to stand by us, who will break
                their time to give hope.</p>
            <p>The aim is that after this time in which we struggle with the lack of freedom, to have people 
                with whom we can share the beautiful moments with.</p>
            <p>I think some of us will be delighted to join us, to be with those who need things or good words.
                Knowledge is the most precious thing of a human being which cannot be restricted in any way, so
                let’s make things work together.</p>
            <p>C.M.N is the way we put our diffrences aside and fight together for causes that deserve it.</p>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %> 
