<%- include ('../partials/header') %> 
<%- include ('../partials/nav') %> 

<main class="main-index">
    <div class="index-showcase">
        <div class="content">
            <h1>discover your neighbour</h1>
            <div class="form">
                <form action="/myNeighbour" method="get">
                    <input type="text" name="location" placeholder="enter your postcode" required>
                    <div class="btn">
                        <input type="submit" value="discover">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


<%- include ('../partials/footer') %> 