<%- include ('../partials/header') %> 
<%- include ('../partials/nav') %> 

<main class="main-index">
    <div class="index-showcase">
        <div class="content">
            <h1>discover your neighbour</h1>
            <div class="form">
                <form action="#">
                    <input type="text" name="location" placeholder="enter your postcode">
                </form>
                <div class="btn">
                    <a href="#">discover</a>
                </div>
            </div>
        </div>
    </div>
</main>


<% include ('../partials/footer') %> 